/* All */
body {
	font-family: sans-serif;
}
.hidden {
    display: none;
}
.link {
    color: #3B5998;
}
ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
ul li {
	margin: 0px;
	padding: 0px;
}

/* Header and nav */
h1#welcome {
    clear: both;
    margin: 10px 0 10px;
    font-size: 1em;
}
div.header {
    clear: both;
    font-size: 0.9em;
}
div.nav {
    margin: 5px 0 10px;
    overflow: auto;
    width: 100%;
    background-color: #6d84b4;
}
div.category {
    width: 85px;
    float: left;
    padding: 11px 5px;
    text-align: center;
    color: #fff;
    font-size: 0.9em;
}
div.selectedCategory {
    background-color: #4967a4;
    font-weight: bold;
}
div.category:hover {
    background-color: #4967a4;
/*    background-color: #d3d3ff;*/
/*    color: #3B5998;*/
}

/* Recommended */
div.main {
	width: 50%;
	float: left;
}
h1#recommended {
	margin: 10px 10px 10px 0;
	padding: 0px;
	font-size: 1.3em;
	display: inline;
}
div#recommendedList {
    margin: 10px;
}
form#refreshForm {
    display: inline
}
input#refreshDataLink {
    background-color: white;
    text-decoration: underline;
    border: 0 none;
    cursor: pointer;
    margin: 10px 5px;
}
div.artistBox {
	float: left;
	width: 100px;
	margin: 1px;
	padding: 6px;
}
a.artistLink {
	cursor: pointer;
	font-size: 0.8em;
	text-decoration: none;
}
div.artistBox:hover {
	background-color: #d3d3ff;
}
img.artistPic {
	width: 100px;
	height: 100px;
}
div.artistName {
	text-align: center;
	height: 2.3em;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* Friends */
div.friends {
    float: right;
    clear: right;
    width: 50%;
}
div.friendBox {
	padding: 8px 0;
    clear: both;
}
h1.friendsTitle {
	font-size: 1.3em;
	margin: 10px 0;
}
img.friendPic {
	float: left;
	width: 50px;
	height: 50px;
}
div.friendText {
    padding: 4px 3px 0;
}
div.friendText input {
    padding: 0;
    margin: 0 5px;
    border: 0 none;
    background-color: white;
    text-decoration: underline;
    cursor: pointer;
    font-size: 0.75em;
}
b.friendName {
    padding: 0;
	margin: 2px 8px;
	font-size: 0.9em;
	font-weight: normal;
}
div.friendCommon {
    display: none;
    font-size: 0.75em;
    padding: 5px;
}
div#showAllFriends {
    margin: 10px 0 25px;
    padding: 15px 0;
    width: 305px;
    cursor: pointer;
    text-align: center;
}
div#showAllFriends:hover {
	background-color: #d3d3ff;
}

/* Search */
div.artistSearch {
    float: right;
    width: 50%;
}
h2 {
    font-size: 1em;
    font-weight: normal;
    margin: 0;
}
div.searchBar {
    margin: 9px 0 5px;
    border: 1px solid;
    width: 304px;
    float: left;
}
input.searchText {
    border: 0 none;
    padding: 2px 5px;
    width: 266px;
}
input.searchButton {
    background-color: #fff;
    background-image: url("https://s-static.ak.fbcdn.net/rsrc.php/v1/ys/r/0VDksn8o5BR.png");
    background-position: -274px -502px;
    background-repeat: no-repeat;
    border: 0 none;
    cursor: pointer;
    height: 19px;
    padding: 0;
    width: 22px;
}
input.button {
    background-color: #ddd;
    border: 1px solid;
    font-size: 0.8em;
    height: 23px;
    margin: 0 9px;
    padding: 0 2px;
}
div.results {
    margin: 2px 0;
    padding: 2px;
    font-size: 0.75em;
    width: 300px;
    clear: both;
    overflow: hidden;
}
div.result {
    height: 54px;
}
div.result:hover {
    background-color: #6d84b4;
    color: #fff;
}
div.resultSelected {
    background-color: #4967a4;
    color: #fff;
}
img.resultImg {
	float: left;
    width: 50px;
    height: 50px;
    padding: 2px;
    cursor: pointer;
}
div.resultText {
    padding: 4px 3px 0;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
}
